<div class="mt-5 flex space-x-4">
  <div class="w-80">
    <p>status: {{ categoriesResource.isLoading() }}</p>
    <p>error: {{ categoriesResource.error() }}</p>
    <button class="" (click)="reloadCategories()">Reload categories</button>
    <button class="" (click)="resetCategories()">Reset categories</button>
    <button class="bg-stone-200" (click)="reloadProducts()">
      Reload products
    </button>
    <button class="bg-stone-600" (click)="resetProducts()">
      Reset products
    </button>
    <ul>
      <li>
        <a routerLink="/">All</a>
      </li>
      @for (category of categoriesResource.value(); track category) {
        <li>
          <a routerLink="/category/{{ category.slug }}">{{ category.name }}</a>
        </li>
      }
    </ul>
  </div>
  <div class="grid w-full grid-cols-4 gap-8">
    @for (product of productsResource.value(); track product) {
      <app-product [product]="product" (addToCart)="addToCart($event)" />
    }
  </div>
</div>
