<!-- TODO: esto es mala practica, se debe usar algo que si existe en el componente ejemplo el producto no usar en lógica de negocio -->
@let myVar = 'Hello World!';
<h1>{{ myVar}}</h1>

@let data = product();
@let cover = $cover();

@if(data && cover) {
  <div class="flex w-full space-x-10">
    <div class="flex w-1/3 flex-col">
      <div class="w-full rounded border border-gray-200">
        <!-- TODO: hay que colocar el height para que se vea la imagen -->
        <div class="relative h-96">
          <img alt="e-commerce" class="w-full object-cover object-center" [ngSrc]="cover" [fill]="true" />
          <!-- TODO:  fill hace que se ancle la imagen al contenedor que tenga el relative -->
        </div>
      </div>
      <div class="mt-1 flex items-center justify-center">
        <div class="grid grid-cols-3 gap-1">
          @for (image of data.images; track image) {
          <!-- tabindex 0 que se puede hacer focus
            role button para que se pueda hacer click -->
          <img alt="e-commerce" class="rounded border-2 border-gray-200 object-cover object-center" tabindex="0"
            role="button" aria-label="Change cover" (keydown.enter)="changeCover(image)" [ngSrc]="image"
            width="80" height="80"
            (click)="changeCover(image)" [class.border-red-400]="image === cover" />
          }
        </div>
      </div>
    </div>
    <div class="mt-5 w-full">
      <h2 class="title-font text-sm tracking-widest text-gray-500">
        {{ data.category.name | uppercase }}
      </h2>
      <h1 class="title-font mb-1 text-3xl font-medium text-gray-900">
        {{ data.title }}
      </h1>
      <p class="leading-relaxed">
        {{ data?.description }}
      </p>
      <p class="title-font mt-5 text-2xl font-medium text-gray-900">
        {{ data.price | currency: "$" : "symbol" : "1.0" }}
      </p>
      <button class="flex rounded border-0 bg-red-500 px-6 py-2 text-white hover:bg-red-600 focus:outline-none"
        (click)="addToCart()">
        Add To Cart
      </button>
    </div>
  </div>

}
